<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tienda XYZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='Images/icon.jpg') }}" >

</head>

<body >

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-link active" href="index.html">Inicio</a>
            <a class="nav-link" href="#">ABCD</a>
            <a class="nav-link" href="#">DEFG</a>
            <a class="nav-link" href="#">Contáctenos</a>
        </div>
      </div>
    </div>

  </nav>



  <div class="jumbotron" id="all_content" style="background:#cfe7ff">

    <h1 class="display-4" align="center"> Bienvenido a la Tienda XYZ </h1>
    
    <br>

    <div align="center">
      <a href="login_page.html">
        <button id="index-buttons" class="btn btn-success"> Iniciar sesión</button>
      </a>
      </form>
    </div>
            
  </div>
    
</body>

</html>
