<html>
<head>
    <meta charset="UTF-8">
    <title>Tienda XYZ</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='Images/icon.jpg') }}">
    
<title> Únete a Tienda XYZ </title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/register.css') }}">

</head>

<body >

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
      <div class="container-fluid">
  
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
              <a class="nav-link active" href="../HTML_Files/index.html">Inicio</a>
              <a class="nav-link" href="#">ABCD</a>
              <a class="nav-link" href="#">DEFG</a>
              <a class="nav-link" href="#">Contáctenos</a>
          </div>
        </div>
      </div>
  
    </nav>
  
  
  
    <div class="jumbotron" id="all_content" style="background:#cfe7ff">
  
      <h1 class="display-4" align="center"> Cuenta del Cliente : {{client_name}} </h1>

      <!-- <h2 class="display-4" align="center">  Subtotal: $$$ </h2> -->
      <!-- <h2 class="display-4" align="center">  Descuento : $$ </h2> -->
      <h2 class="display-4" align="center">  Total: S/. {{total}} </h2>
      <br>

      <div align="center">
        <form id="generatePDF" action="" method="post">
        <a class="btn btn-success" href="add_product.html">+ Vender Producto</a>
          <!-- <input type="hidden" name="list_of_products" value="{{product_list}}"> --> 
          <button class="btn btn-dark"  id="getInvoice"  type="submit">- Generar Factura</button>
        </form>
        <a class="btn btn-danger" href="start_sale.html">/ Terminar Atención</a>
        
      </div>
    </div>

         
  </body>
  

  </html>

  <!--
<script>
  $(document).ready(function(){
    $("#getInvoice").click(function(){

      alert("<funcion que genera un PDF con la factura>");
    });
  });
</script>
-->