<html>
<head>
<title> Únete a Tienda XYZ </title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/register.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<meta charset="UTF-8"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='Images/icon.jpg') }}">
</head>

<body background="{{ url_for('static',filename='Images/blue_background.jpg') }}"  style="background-size: cover"> 

<br><br>
    <div class="jumbotron" id="signup_container" style="background:#cfe7ff; ">  <!-- c3f6c3 -->

    <form id="signup_form" method="POST" onsubmit="return formEsValido()">
        <label for="name"> Nombres: </label>
        <input type="text" name="name" id="name" class="form-control">
        <label for="last_name"> Apellidos: </label>
        <input type="text" name="last_name" id="last_name" class="form-control">
        <label for="client_DNI"> DNI del cliente: </label>
        <input type="text" name="client_DNI" id="client_DNI" class="form-control">
        <label for="client_RUC"> RUC: </label>
        <input type="text" name="client_RUC" id="client_RUC" class="form-control">
        <label for="credit"> Tarjeta de crédito: </label>
        <input type="text" name="credit" id="credit" class="form-control">

            <br> 
        
        <div align="right">
            <button type="submit" id="submit_button" class="btn btn-primary" > Registrarse </button>
        </div>
    
    </form>
    <br>  ¿Ya está registrado?
        <a href="start_sale.html"> Empezar Atención </a>
    </div>

    <br><br>
</body>
</html>



<script>
    function formEsValido()
    {
        var nombres = $("#name");
        var apellidos = $("#last_name");
        var DNI = $("#client_DNI");
        var RUC = $("#client_RUC");
        var TarjetaCredito = $("#credit");

        if( nombres.val() == "")
        {
            var op = alertify.alert("Debe colocar sus nombres." ).setHeader("Atención");
            return false;
        }
        else if( apellidos.val() == "")
        {
            var op = alertify.alert("Debe colocar sus apellidos." ).setHeader("Atención");
            return false;
        }
        else if( DNI.val() == "")
        {
            var op = alertify.alert("Debe colocar su DNI." ).setHeader("Atención");
            return false;
        }
        else if( RUC.val() == "")
        {
            var op = alertify.alert("Debe colocar su RUC." ).setHeader("Atención");
            return false;
        }
        else if( TarjetaCredito.val() == "")
        {
            var op = alertify.alert("Debe colocar su tarjeta de crédito del cliente.").setHeader("Atención");
            return false;
        }

        return true;
    }

    /*
    $(document).ready( function() 
    { 
        $("#submit_button").click( function() 
        {
            if(formEsValido())
            {
                // Aqui va la conexion a Cassandra 
            }
            
        })
    })*/
</script>
